<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Email Spam Classifer</h1>
    <form method="post" action="/predict"> 
        <textarea name="Email-Content" placeholder="Enter Your Email" rows="15" cols="60">{{text}}</textarea>
        <button name="Submit">Check Spam</button>
        <a href="/">Reset</a>
    </form>
    <h2>{{ predictions }}</h2>
</body>
</html>